useDynLib(psychtm, .registration=TRUE)
import("Rcpp")
import("RcppArmadillo")
import("RcppProgress")
importFrom("methods", "callNextMethod", "isClass", "new", "is")
importFrom("stats", "median", "quantile", "model.matrix", "model.response")
exportPattern("^[[:alpha:]]+")
